<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.3/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- IE9 Compatibility -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Icons -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <header id="header">
        <!-- Header Middle -->
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <img src="https://img.freepik.com/premium-vector/tc-ct-letter-logo-icon-design_106546-3365.jpg" width="10%" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <!-- Home and Contact links -->
                                <li><a asp-controller="Home" class="active"><i class="fa fa-home"></i>Home</a></li>

                                <!-- Nút Liên hệ với biểu tượng tương tự nút Home -->
                                <li><a asp-controller="Home" asp-action="Contact"><i class="fa fa-phone"></i>Liên hệ</a></li>

                                <!-- Nút Trang Admin với biểu tượng -->
                                <li><a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="fa fa-cogs"></i>Trang Admin</a></li>

                                <!-- Shopping Cart and Account links -->
                                <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                @if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-lock"></i>Hi @User.Identity.Name ,Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <!-- Main Menu or other content -->
                    </div>

                    <!-- Search Box moved to the right -->
                    <div class="col-sm-3">
                        <form asp-controller="Product" asp-action="Search" method="post">
                            <div class="search_box pull-right">
                                <input type="text" placeholder="Search" name="searchTerm" />
                                <button class="btn btn-warning" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Slider -->
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-12">
                                    <img src="https://shopco.com.vn/upload/hinhanh/banner-the-thao-2683.png" width="95%" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img src="https://yousport.vn/Media/Articles/151119042626148/giay-da-bong-gia-re-tot-nhat-banner.jpg" width="95%" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img src="https://png.pngtree.com/background/20220714/original/pngtree-banner-background-of-football-colorful-game-publicity-poster-picture-image_1615652.jpg" width="100%" />
                                </div>
                            </div>
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <section>
        <div class="container">
            <div class="row">
                @Html.Partial("_NotificationPartial")
                @RenderBody()
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <partial name="_FooterPartial" />
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/backend/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.3/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
